{% load static wagtailuserbar navigation_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/ayewaweb.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include "ayewa/includes/navbar.html" %}

        <!-- Banner with search input -->
        {% include "ayewa/includes/searchbanner.html" %}

        <div class="container mt-6 mb-6">
            {% block content %}
        {% endblock content %}
        </div>


    <!-- Footer -->
        <div class="container-fluid mt-5 footer">
            <div class="row no-gutters">
                <div class="col-12">
                    <p class="mb-0 text-center">Ayewa &copy;  {% now "Y" %}</p>
                </div>
            </div>
        </div>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ayewaweb.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
