{% load static wagtailuserbar navigation_tags %}

<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="">
        <img src="{% static 'images/ayewa-logo-nav.png' %}" width="100" height="36" alt="Ayewa">
    </a>
    <!-- button appears in XS -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navItems" aria-controls="navItems"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Wrap nav links in a toggler for mobile -->
    <div class="collapse navbar-collapse" id="navItems">
        {% get_site_root as site_root %}
        {% top_menu parent=site_root calling_page=self %}
    </div>
</nav>