<div class="bg-image-full bg-home-hero-colorful">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <h1 class="mt-6 text-center">aye&middot;wa | ā-w&auml; | our planet</h1>
                <p class="lead text-center">An exhaustive repository on causes, solutions and contacts.</p>
            </div>
        </div>
        <!-- Search Form -->
        <form action="{% url 'search' %}" method="get">
            <div class="form-row justify-content-center">
                <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                    <select class="form-control">
                        <option>All Categories</option>
                        <option>Actions</option>
                        <option>Solutions</option>
                        <option>Science</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-6">
                    <div class="input-group">
                        <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search Here..." class="form-control" id="search" >
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary" type="button">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- end search form -->
    </div>
</div>
<!-- end banner w/ search -->